# Importing Packages

In [51]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import re

import warnings
warnings.filterwarnings ('ignore')

# Connecting to WEBDRIVER

In [52]:
driver = webdriver.Chrome(r'C:\Users\rjhcl\Desktop\web driver\chromedriver.exe')

# Opening BCCI

In [53]:
url = "https://www.bcci.tv/international/fixtures"
driver.get(url)

# Create Empty LIST

In [54]:
Series = []
Place = []
Date = []
Time = []

# SCRAPING the Data

In [55]:
series = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series:
    Series.append(i.text)

In [56]:
Series

['AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'ICC WOMENS T20 WORLD CUP 2023',
 'ICC WOMENS T20 WORLD CUP 2023',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'ICC WOMENS T20 WORLD CUP 2023',
 'ICC WOMENS T20 WORLD CUP 2023',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23']

In [57]:
place = driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in place:
    Place.append(i.text.split('-')[1])

In [58]:
Place

[' Vidarbha Cricket Association Stadium, Nagpur',
 ' Newlands, Cape Town',
 ' Newlands, Cape Town',
 ' Arun Jaitley Stadium, Delhi',
 " St George's Park, Gqeberha",
 " St George's Park, Gqeberha",
 ' Himachal Pradesh Cricket Association Stadium, Dharamsala',
 ' Narendra Modi Stadium, Ahmedabad']

In [59]:
date = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date:
    Date.append(i.text)

In [60]:
Date

['9 FEB 2023',
 '12 FEB 2023',
 '15 FEB 2023',
 '17 FEB 2023',
 '18 FEB 2023',
 '20 FEB 2023',
 '1 MAR 2023',
 '9 MAR 2023']

In [61]:
time = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time:
    Time.append(i.text)

In [62]:
Time

['9:30 AM IST',
 '6:30 PM IST',
 '6:30 PM IST',
 '9:30 AM IST',
 '6:30 PM IST',
 '6:30 PM IST',
 '9:30 AM IST',
 '9:30 AM IST']

# Checking LENGTH of the LISTS

In [63]:
print(len(Series), len(Place), len(Date), len(Time))

8 8 8 8

# Creating the DATAFRAME

In [65]:
df=pd.DataFrame({'Series Name': Series, 'Location': Place, 'Date': Date, 'Time': Time})
                 
df

,Series Name,Location,Date,Time
0,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Vidarbha Cricket Association Stadium, Nagpur",9 FEB 2023,9:30 AM IST
1,ICC WOMENS T20 WORLD CUP 2023,"Newlands, Cape Town",12 FEB 2023,6:30 PM IST
2,ICC WOMENS T20 WORLD CUP 2023,"Newlands, Cape Town",15 FEB 2023,6:30 PM IST
3,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Arun Jaitley Stadium, Delhi",17 FEB 2023,9:30 AM IST
4,ICC WOMENS T20 WORLD CUP 2023,"St George's Park, Gqeberha",18 FEB 2023,6:30 PM IST
5,ICC WOMENS T20 WORLD CUP 2023,"St George's Park, Gqeberha",20 FEB 2023,6:30 PM IST
6,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Himachal Pradesh Cricket Association Stadium,...",1 MAR 2023,9:30 AM IST
7,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",9 MAR 2023,9:30 AM IST