# Importing Packages

In [89]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import re

import warnings
warnings.filterwarnings ('ignore')

# Connecting to WEBDRIVER

In [90]:
driver = webdriver.Chrome(r'C:\Users\rjhcl\Desktop\web driver\chromedriver.exe')

# Opening Statisticstimes

In [91]:
url = "https://www.statisticstimes.com/economy/india/indian-states-gdp.php"
driver.get(url)

# Create Empty LIST

A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [92]:
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP = []

# SCRAPING the Data

In [93]:
rank = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)

In [94]:
state = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[2]')
for i in state:
    State.append(i.text)

In [95]:
gsdp1 = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[3]')
for i in gsdp1:
    GSDP1.append(i.text)

In [96]:
gsdp2 = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[4]')
for i in gsdp2:
    GSDP2.append(i.text)

In [97]:
share = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[5]')
for i in share:
    Share.append(i.text)

In [98]:
gdp = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[5]')
for i in gdp:
    GDP.append(i.text)

# Checking LENGTH of the LISTS

In [99]:
print(len(Rank), len(State), len(GSDP1), len(GSDP2), len(Share), len(GDP))

66 66 66 66 66 66

# Creating the DATAFRAME

In [100]:
df=pd.DataFrame({'Rank': Rank, 'State': State, 'GSDP(18-19)': GSDP1, 'GSDP(19-20)': GSDP2, 'Share(18-19)': Share, 'GDP($ billion)': GDP})
                 
df

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,13.94%
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,8.63%
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,8.39%
3,4,Gujarat,-,"1,502,899",7.96%,7.96%
4,5,Karnataka,"1,631,977","1,493,127",7.91%,7.91%
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,0.15%
62,30,Nagaland,-,"24,534",0.15%,0.15%
63,31,Arunachal Pradesh,-,"22,488",0.13%,0.13%
64,32,Mizoram,"24,424","20,947",0.13%,0.13%
65,33,Andaman & Nicobar Islands,-,-,-,-