# Importing Packages

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import re

import warnings
warnings.filterwarnings ('ignore')

# Connecting to WEBDRIVER

In [2]:
driver = webdriver.Chrome(r'C:\Users\rjhcl\Desktop\web driver\chromedriver.exe')

# Opening The Guardian

In [3]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

# Create Empty LIST

In [4]:
Rank = []
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

A) Rank
B) Book name
C) Author name
D) Volumes sold
E) Publisher
F) Genre

# SCRAPING the Data

In [5]:
book_name = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"][1]/tbody/tr/td[2]')
for i in book_name:
    Book_name.append(i.text)

In [6]:
author_name = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"][1]/tbody/tr/td[3]')
for i in author_name:
    Author_name.append(i.text)

In [7]:
volumes_sold = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"][1]/tbody/tr/td[4]')
for i in volumes_sold:
    Volumes_sold.append(i.text)

In [8]:
publisher = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"][1]/tbody/tr/td[5]')
for i in publisher:
    Publisher.append(i.text)

In [9]:
genre = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"][1]/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)

# Checking LENGTH of the LISTS

In [10]:
print(len(Book_name), len(Author_name), len(Volumes_sold), len(Publisher), len(Genre))

100 100 100 100 100

# Creating the DATAFRAME

In [12]:
df=pd.DataFrame({'Book Name':Book_name, 'Author': Author_name, 'Volumes Sold':Volumes_sold, 'Publisher Name': Publisher, 'Genre': Genre})
                 
df

,Book Name,Author,Volumes Sold,Publisher Name,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General