# Importing Packages

In [30]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import re

import warnings
warnings.filterwarnings ('ignore')

# Connecting to WEBDRIVER

In [31]:
driver = webdriver.Chrome(r'C:\Users\rjhcl\Desktop\web driver\chromedriver.exe')

# Opening Archive.ics.uci.edu

In [32]:
url = "https://archive.ics.uci.edu/ml/datasets.php"
driver.get(url)

# Create Empty LIST

In [33]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []

# SCRAPING the Data

In [34]:
rank = driver.find_elements(By.XPATH,'//table[@border="1"][1]/tbody/tr/td[1]')
for i in rank:
    Dataset_name.append(i.text)

In [36]:
name = driver.find_elements(By.XPATH,'//table[@border="1"][1]/tbody/tr/td[2]')
for i in name:
    Data_type.append(i.text)

In [38]:
name = driver.find_elements(By.XPATH,'//table[@border="1"][1]/tbody/tr/td[3]')
for i in name:
    Task.append(i.text)

In [40]:
name = driver.find_elements(By.XPATH,'//table[@border="1"][1]/tbody/tr/td[4]')
for i in name:
    Attribute_type.append(i.text)

In [42]:
name = driver.find_elements(By.XPATH,'//table[@border="1"][1]/tbody/tr/td[5]')
for i in name:
    No_of_instances.append(i.text)

In [44]:
name = driver.find_elements(By.XPATH,'//table[@border="1"][1]/tbody/tr/td[6]')
for i in name:
    No_of_attribute.append(i.text)

In [46]:
name = driver.find_elements(By.XPATH,'//table[@border="1"][1]/tbody/tr/td[7]')
for i in name:
    Year.append(i.text)

# Checking LENGTH of the LISTS

In [48]:
print(len(Dataset_name), len(Data_type), len(Task), len(Attribute_type), len(No_of_instances), len(No_of_attribute), len(Year))

623 623 623 623 623 623 623

# Creating the DATAFRAME

In [50]:
df=pd.DataFrame({'Dataset':Dataset_name, 'Type':Data_type, 'Task': Task, 'Attribute Type': Attribute_type, 'No of Instances': No_of_instances, 'No of Attribute': No_of_attribute, 'Year': Year})
                 
df

,Dataset,Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,,Classification,,1014,7,2020
621,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021